@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    width: 1920px;
    font-family: 'Montserrat';

    header {
        display: flex;

        .header__logo {
            margin-left: 63px;
            margin-top: 26px;
        }

        #header__burger {
            margin-left: 52px;
            margin-top: 48px;
            height: 56px;
            width: 56px;
        }

        #header__burger-rotate {
            display: none;
            margin-left: -52px;
            margin-top: 48px;
            rotate: 90deg;
            height: 56px;
            width: 56px;
        }

        nav {
            margin-left: 31px;
            margin-top: 64px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            height: 23px;
            width: 665px;

            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
                color: #4C858B;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .header__phone {
            margin-left: 56px;
            margin-top: 64px;
            color: #4C858B;
            font-size: 16px;
            font-weight: 400;

            span {
                color: #000;
                font-size: 16px;
                font-weight: 700;
            }
        }

        .header__callBack {
            margin-left: 56px;
            margin-top: 66px;
            border-bottom: 1px dashed #AE2236;
            height: 19px;

            a {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #AE2236;
                text-decoration: none;
            }
        }

        .header__socialNetwork {
            display: flex;
            width: 100px;
            height: 20px;
            margin-top: 68px;
            margin-left: 61px;

            img {
                margin-left: 16px;
            }

            img:nth-child(1) {
                margin-left: 0px;

            }

            img:nth-child(3),
            img:nth-child(4) {
                width: 15px;
                height: 16px;
                margin-top: 2px;
            }
        }

        .header__icons {
            display: flex;
            margin-left: 60px;
        }

        .header__icons-search,
        .header__icons-favorites,
        .header__icons-basket {
            border: 1px solid #E5E5E5;
            border-radius: 50%;
            height: 56px;
            width: 56px;
            left: 1583px;
            margin-left: 16px;
            margin-top: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header__basket-number {
            height: 21px;
            width: 21px;
            background-color: #E33E54;
            border-radius: 50%;
            margin-top: 50px;
            margin-left: -17px;
            color: #FFFFFF;
            font-size: 11px;
            font-weight: 800;
            padding: 3px 3px 5px 6px;
            box-sizing: border-box;
        }
    }

    main {

        h1 {
            font-size: 60px;
            font-weight: 700;
            margin-left: 351px;
        }

        .main__navigation {
            width: 1218px;
            height: 48px;
            margin-top: 41px;
            margin-left: 351px;
            border-bottom: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;

            span {
                display: block;
                margin-top: 14px;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;


                a {
                    color: #4C858B;
                    text-decoration: none;
                }

                a:nth-child(1) {
                    color: #B1B1B1;
                }

                img {
                    margin-left: 8px;
                    margin-right: 7px;
                }
            }
        }

        .main__descriptionSection {
            height: 90px;
            width: 1218px;
            margin-left: 351px;
            margin-top: 81px;
            font-size: 16px;
            font-weight: 400;

            span {
                color: #E33E54;
                font-weight: 600;
            }
        }

        .main__mainSection {
            display: flex;

            .main__mainSectioт-top {
                margin-left: 349px;
                font-size: 40px;
                font-weight: 600;

                div:nth-child(2) {
                    font-size: 50px;
                    font-weight: 800;
                    color: #E33E54;
                }
            }

            .main__mainSectioт-list {
                margin-top: 39px;
                width: 540px;
                margin-left: 379px;

                div {
                    display: flex;
                    margin-top: 25px;
                    font-size: 16px;
                    font-weight: 400;
                }

                img {
                    margin-right: 17px;
                    width: 9px;
                    height: 9px;
                }

                span {
                    margin-top: -5px;
                }
            }

            .main__mainSection-right {
                height: 541px;
                width: 766px;
                background-image: url('@img/blob.png');

                .triangle_1 {
                    margin-top: 150px;
                    margin-left: 15px;
                }

                .topGroup {
                    margin-top: -170px;
                    margin-left: 150px;
                }

                .triangle_2 {
                    margin-top: -100px;
                    margin-left: 650px;
                }

                .bottomGroup {
                    margin-top: 360px;
                    margin-left: 650px;
                }
            }


        }

        .main__border {
            border-bottom: 5px solid #E33E54;
            width: 74px;
        }

        h2 {
            margin-top: 10px;
            font-size: 40px;
            font-weight: 600;
        }


        .main__processSection {
            margin-left: 351px;

            .main__processSection-list {
                display: flex;
                font-weight: 400;
                font-size: 16px;

                .main__processSection-right {
                    margin-left: 30px;
                    width: 590px;
                }

                .main__processSection-left {
                    width: 590px;
                }

                .main__processSection-item {
                    display: flex;

                    div {
                        display: flex;
                        align-items: center;
                        margin-left: 42px;
                    }

                    span {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 70px;
                        color: #E33E54;
                        opacity: 0.2;
                    }
                }
            }
        }

        .main__whySection {
            margin-left: 351px;
            margin-top: 102px;

            .main__whySection-description {
                height: 60px;
                width: 1212px;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
            }

            .main__whySection-cards {
                margin-top: 51px;
                display: flex;

                .main__whySection-card {
                    width: 386px;

                    p {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 30px;
                    }

                    .main__whySection-cardDescription {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 30px;

                        span {
                            color: #E33E54;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .main__formSection {
            margin-left: 351px;
            margin-top: 98px;
            width: 1217px;

            .main__formSection-title {
                text-align: center;
                font-size: 50px;
                font-weight: 800;
                line-height: 40px;
                height: 91px;

                p {
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 40px;
                }
            }

            .main__formSection-socialNetworks {
                margin-top: 33px;
                text-align: center;

                img {
                    margin-left: 40px;
                }
            }

            .main__formSection-form {
                margin-top: 39px;
                margin-left: 175px;
                width: 866px;
                height: 260px;
                background: #FFFFFF;
                box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
                box-sizing: border-box;

                .main__formSection-formTitle {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 22px;
                    padding-top: 57px;
                    margin-left: 59px;

                    span {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 22px;
                        color: #EA6628;
                    }
                }

                p {
                    margin-left: 59px;
                }

                .main__formSection-input {
                    margin-left: 43px;
                    margin-top: 22px;

                    input {
                        height: 56px;
                        width: 240px;
                        border-radius: 4px;
                        border: 1px solid #E5E5E5;
                        margin-left: 16px;
                        box-sizing: border-box;
                    }

                    button {
                        height: 56px;
                        width: 240px;
                        background-color: #215359;
                        border-radius: 4px;
                        border: 1px solid #215359;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                        text-align: center;
                        color: #FFFFFF;
                        margin-left: 16px;

                        &:hover {
                            background-color: #EA6628;
                            border: 1px solid #EA6628;
                        }
                    }
                }

            }
        }

        .main__videoSection {
            margin-left: 348px;
            margin-top: 108px;

            .main__videoSection-description {
                height: 90px;
                width: 1218px;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                margin-top: 66px;
            }

            .main__videoSection-video {
                height: 482px;
                width: 1156px;
                margin-top: 61px;
                border: 1px solid #FFFFFF;

                .videoSeection-group1 {
                    margin-top: -130px;
                    margin-left: 50px;
                }

                .videoSeection-blob1 {
                    margin-top: 120px;
                }

                .videoSeection-blob2 {
                    margin-top: -420px;
                    margin-left: 530px;
                }

                .videoSeection-group2 {
                    margin-left: 1050px;
                    margin-top: -420px;
                }

                .videoSeection-video {
                    margin-top: -105px;
                    margin-left: 192px;
                }
            }
        }

        .main__photoSection {
            margin-left: 348px;
            margin-top: 100px;

            .main__photoSection-description {
                height: 90px;
                width: 1218px;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                margin-top: 66px;
            }

            .main__photoSection-gallery {
                margin-top: 48px;
                display: grid;
                grid-template-columns: 302px 302px 302px 302px;
                row-gap: 10px;
                column-gap: 10px;
            }
        }
    }

    footer {
        margin-top: 136px;
        height: 350px;
        width: 1920px;
        background-color: #0C2F33;
        color: #FFFFFF;
        box-sizing: border-box;

        a {
            text-decoration: none;
            color: #FFFFFF;
        }

        .footer__content {
            padding-top: 88px;
            margin-left: 246px;
            display: flex;

            p {
                font-size: 22px;
                font-weight: 700;
                line-height: 27px;
            }


            .footer__content-section {
                margin-left: 105px;

                .footer__content-catalog,
                .footer__content-info {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    row-gap: 19px;
                    column-gap: 50px;
                }
            }

            .footer__content-about {
                margin-left: 132px;

                .footer__content-time {
                    margin-top: 16px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    display: flex;

                    div {
                        margin-top: -5px;
                        margin-left: 8px;

                        span {
                            color: #4C858B;
                        }
                    }

                    img {
                        height: 15px;
                    }
                }

                .footer__content-address {
                    margin-top: 16px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    display: flex;

                    div {
                        margin-top: -5px;
                        margin-left: 10px;
                    }

                    img {
                        height: 16px;
                    }
                }

                .footer__socialNetwork {
                    margin-top: 26px;

                    img {
                        margin-left: 40px;
                    }

                    img:nth-child(1) {
                        margin-left: 0px;
                    }
                }
            }
        }



    }
}