@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  width: 1920px;
  font-family: "Montserrat";
}
body header {
  display: flex;
}
body header .header__logo {
  margin-left: 63px;
  margin-top: 26px;
}
body header #header__burger {
  margin-left: 52px;
  margin-top: 48px;
  height: 56px;
  width: 56px;
}
body header #header__burger-rotate {
  display: none;
  margin-left: -52px;
  margin-top: 48px;
  rotate: 90deg;
  height: 56px;
  width: 56px;
}
body header nav {
  margin-left: 31px;
  margin-top: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  height: 23px;
  width: 665px;
  display: flex;
  justify-content: space-around;
}
body header nav a {
  text-decoration: none;
  color: #4C858B;
}
body header nav a:hover {
  text-decoration: underline;
}
body header .header__phone {
  margin-left: 56px;
  margin-top: 64px;
  color: #4C858B;
  font-size: 16px;
  font-weight: 400;
}
body header .header__phone span {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
body header .header__callBack {
  margin-left: 56px;
  margin-top: 66px;
  border-bottom: 1px dashed #AE2236;
  height: 19px;
}
body header .header__callBack a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #AE2236;
  text-decoration: none;
}
body header .header__socialNetwork {
  display: flex;
  width: 100px;
  height: 20px;
  margin-top: 68px;
  margin-left: 61px;
}
body header .header__socialNetwork img {
  margin-left: 16px;
}
body header .header__socialNetwork img:nth-child(1) {
  margin-left: 0px;
}
body header .header__socialNetwork img:nth-child(3),
body header .header__socialNetwork img:nth-child(4) {
  width: 15px;
  height: 16px;
  margin-top: 2px;
}
body header .header__icons {
  display: flex;
  margin-left: 60px;
}
body header .header__icons-search,
body header .header__icons-favorites,
body header .header__icons-basket {
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  left: 1583px;
  margin-left: 16px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .header__basket-number {
  height: 21px;
  width: 21px;
  background-color: #E33E54;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: -17px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 800;
  padding: 3px 3px 5px 6px;
  box-sizing: border-box;
}
body main h1 {
  font-size: 60px;
  font-weight: 700;
  margin-left: 351px;
}
body main .main__navigation {
  width: 1218px;
  height: 48px;
  margin-top: 41px;
  margin-left: 351px;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
}
body main .main__navigation span {
  display: block;
  margin-top: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
body main .main__navigation span a {
  color: #4C858B;
  text-decoration: none;
}
body main .main__navigation span a:nth-child(1) {
  color: #B1B1B1;
}
body main .main__navigation span img {
  margin-left: 8px;
  margin-right: 7px;
}
body main .main__descriptionSection {
  height: 90px;
  width: 1218px;
  margin-left: 351px;
  margin-top: 81px;
  font-size: 16px;
  font-weight: 400;
}
body main .main__descriptionSection span {
  color: #E33E54;
  font-weight: 600;
}
body main .main__mainSection {
  display: flex;
}
body main .main__mainSection .main__mainSectioт-top {
  margin-left: 349px;
  font-size: 40px;
  font-weight: 600;
}
body main .main__mainSection .main__mainSectioт-top div:nth-child(2) {
  font-size: 50px;
  font-weight: 800;
  color: #E33E54;
}
body main .main__mainSection .main__mainSectioт-list {
  margin-top: 39px;
  width: 540px;
  margin-left: 379px;
}
body main .main__mainSection .main__mainSectioт-list div {
  display: flex;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
}
body main .main__mainSection .main__mainSectioт-list img {
  margin-right: 17px;
  width: 9px;
  height: 9px;
}
body main .main__mainSection .main__mainSectioт-list span {
  margin-top: -5px;
}
body main .main__mainSection .main__mainSection-right {
  height: 541px;
  width: 766px;
  background-image: url("../img/blob.png");
}
body main .main__mainSection .main__mainSection-right .triangle_1 {
  margin-top: 150px;
  margin-left: 15px;
}
body main .main__mainSection .main__mainSection-right .topGroup {
  margin-top: -170px;
  margin-left: 150px;
}
body main .main__mainSection .main__mainSection-right .triangle_2 {
  margin-top: -100px;
  margin-left: 650px;
}
body main .main__mainSection .main__mainSection-right .bottomGroup {
  margin-top: 360px;
  margin-left: 650px;
}
body main .main__border {
  border-bottom: 5px solid #E33E54;
  width: 74px;
}
body main h2 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
}
body main .main__processSection {
  margin-left: 351px;
}
body main .main__processSection .main__processSection-list {
  display: flex;
  font-weight: 400;
  font-size: 16px;
}
body main .main__processSection .main__processSection-list .main__processSection-right {
  margin-left: 30px;
  width: 590px;
}
body main .main__processSection .main__processSection-list .main__processSection-left {
  width: 590px;
}
body main .main__processSection .main__processSection-list .main__processSection-item {
  display: flex;
}
body main .main__processSection .main__processSection-list .main__processSection-item div {
  display: flex;
  align-items: center;
  margin-left: 42px;
}
body main .main__processSection .main__processSection-list .main__processSection-item span {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  color: #E33E54;
  opacity: 0.2;
}
body main .main__whySection {
  margin-left: 351px;
  margin-top: 102px;
}
body main .main__whySection .main__whySection-description {
  height: 60px;
  width: 1212px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
body main .main__whySection .main__whySection-cards {
  margin-top: 51px;
  display: flex;
}
body main .main__whySection .main__whySection-cards .main__whySection-card {
  width: 386px;
}
body main .main__whySection .main__whySection-cards .main__whySection-card p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
body main .main__whySection .main__whySection-cards .main__whySection-card .main__whySection-cardDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
body main .main__whySection .main__whySection-cards .main__whySection-card .main__whySection-cardDescription span {
  color: #E33E54;
  font-weight: 600;
}
body main .main__formSection {
  margin-left: 351px;
  margin-top: 98px;
  width: 1217px;
}
body main .main__formSection .main__formSection-title {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
  height: 91px;
}
body main .main__formSection .main__formSection-title p {
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
}
body main .main__formSection .main__formSection-socialNetworks {
  margin-top: 33px;
  text-align: center;
}
body main .main__formSection .main__formSection-socialNetworks img {
  margin-left: 40px;
}
body main .main__formSection .main__formSection-form {
  margin-top: 39px;
  margin-left: 175px;
  width: 866px;
  height: 260px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
body main .main__formSection .main__formSection-form .main__formSection-formTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  padding-top: 57px;
  margin-left: 59px;
}
body main .main__formSection .main__formSection-form .main__formSection-formTitle span {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  color: #EA6628;
}
body main .main__formSection .main__formSection-form p {
  margin-left: 59px;
}
body main .main__formSection .main__formSection-form .main__formSection-input {
  margin-left: 43px;
  margin-top: 22px;
}
body main .main__formSection .main__formSection-form .main__formSection-input input {
  height: 56px;
  width: 240px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  margin-left: 16px;
  box-sizing: border-box;
}
body main .main__formSection .main__formSection-form .main__formSection-input button {
  height: 56px;
  width: 240px;
  background-color: #215359;
  border-radius: 4px;
  border: 1px solid #215359;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 16px;
}
body main .main__formSection .main__formSection-form .main__formSection-input button:hover {
  background-color: #EA6628;
  border: 1px solid #EA6628;
}
body main .main__videoSection {
  margin-left: 348px;
  margin-top: 108px;
}
body main .main__videoSection .main__videoSection-description {
  height: 90px;
  width: 1218px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 66px;
}
body main .main__videoSection .main__videoSection-video {
  height: 482px;
  width: 1156px;
  margin-top: 61px;
  border: 1px solid #FFFFFF;
}
body main .main__videoSection .main__videoSection-video .videoSeection-group1 {
  margin-top: -130px;
  margin-left: 50px;
}
body main .main__videoSection .main__videoSection-video .videoSeection-blob1 {
  margin-top: 120px;
}
body main .main__videoSection .main__videoSection-video .videoSeection-blob2 {
  margin-top: -420px;
  margin-left: 530px;
}
body main .main__videoSection .main__videoSection-video .videoSeection-group2 {
  margin-left: 1050px;
  margin-top: -420px;
}
body main .main__videoSection .main__videoSection-video .videoSeection-video {
  margin-top: -105px;
  margin-left: 192px;
}
body main .main__photoSection {
  margin-left: 348px;
  margin-top: 100px;
}
body main .main__photoSection .main__photoSection-description {
  height: 90px;
  width: 1218px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 66px;
}
body main .main__photoSection .main__photoSection-gallery {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 302px 302px 302px 302px;
  row-gap: 10px;
  column-gap: 10px;
}
body footer {
  margin-top: 136px;
  height: 350px;
  width: 1920px;
  background-color: #0C2F33;
  color: #FFFFFF;
  box-sizing: border-box;
}
body footer a {
  text-decoration: none;
  color: #FFFFFF;
}
body footer .footer__content {
  padding-top: 88px;
  margin-left: 246px;
  display: flex;
}
body footer .footer__content p {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}
body footer .footer__content .footer__content-section {
  margin-left: 105px;
}
body footer .footer__content .footer__content-section .footer__content-catalog,
body footer .footer__content .footer__content-section .footer__content-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 19px;
  column-gap: 50px;
}
body footer .footer__content .footer__content-about {
  margin-left: 132px;
}
body footer .footer__content .footer__content-about .footer__content-time {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}
body footer .footer__content .footer__content-about .footer__content-time div {
  margin-top: -5px;
  margin-left: 8px;
}
body footer .footer__content .footer__content-about .footer__content-time div span {
  color: #4C858B;
}
body footer .footer__content .footer__content-about .footer__content-time img {
  height: 15px;
}
body footer .footer__content .footer__content-about .footer__content-address {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}
body footer .footer__content .footer__content-about .footer__content-address div {
  margin-top: -5px;
  margin-left: 10px;
}
body footer .footer__content .footer__content-about .footer__content-address img {
  height: 16px;
}
body footer .footer__content .footer__content-about .footer__socialNetwork {
  margin-top: 26px;
}
body footer .footer__content .footer__content-about .footer__socialNetwork img {
  margin-left: 40px;
}
body footer .footer__content .footer__content-about .footer__socialNetwork img:nth-child(1) {
  margin-left: 0px;
}